.header {
  min-height: 60px;
  border-bottom: 1px solid #cb1e1e;
  &__logo {
    display: block;
    padding: 16px 0;
    @include tablet {
      height: 80px;
      padding: 26px 0px;
      margin-right: 88px;
    }
    @include desktop {
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
    }
  }
}
header .container {
  display: flex;
  align-items: center;
}
.menu-open {
  border: 0;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: #cb1e1e;
  }
  @include tablet {
    display: none;
  }
}
